#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  background-color: rgba(132, 132, 132, 0.3);
  border: transparent;
  cursor: pointer;
}
